// main: ../config.scss

/** ================================================
               # ANIMATIONS
================================================ **/


$duration : 0.2s;
$timing : ease;

%transition-all {
  transition: all $duration $timing;
}
%transition-all--no-opacity {
  transition-property: top, bottom, left, right, width, height, margin, padding, line-height, border;
  transition-duration: $duration;
  transition-timing-function: $timing;
}
%transition-size {
  transition-property: width, height, margin, padding, line-height, border;
  transition-duration: $duration;
  transition-timing-function: $timing;
}
%transition-position {
  transition-property: top, bottom, left, right;
  transition-duration: $duration;
  transition-timing-function: $timing;
}

* { @extend %transition-all; }




/** ------------------------------------------------
                Tablette paysage
------------------------------------------------ **/

@media (max-width: $tablette-paysage) { }

/** ------------------------------------------------
                Tablette portrait
------------------------------------------------ **/

@media (max-width: $tablette-portrait) { }

/** ------------------------------------------------
                Mobile
------------------------------------------------ **/

@media (max-width: $mobile) { }
