// main: ../config.scss

/** ================================================
               # BREAKPOINTS
================================================ **/


$tablette-paysage  : 1024px;
$tablette-portrait : 768px;
$mobile            : 640px;
