// main: ../theme.scss

/** ================================================
               # COLORS
================================================ **/


$main-color       : #3EA147;
$main-color--dark : #30891D;
$dark-color       : #040017;
$highight         : #ffcf00;
