// main: ../theme.scss

/** ================================================
               # TYPOS
================================================ **/

h1 {
  font-family: Tahoma, Arial;
  font-size: 20px;
  text-align: center;
}

h2 {
  color: $main-color--dark;
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

p {
  color: $dark-color;
  font-size: 16px;
  text-align: justify;
}

/* les a href spip vers l'extérieur et l'intérieur du site */
  a.spip_out { color: $main-color--dark; text-decoration: underline; }
  a.spip_in { color: $main-color--dark; text-decoration: underline; }




  /** ------------------------------------------------
                  Tablette paysage
  ------------------------------------------------ **/

  @media (max-width: $tablette-paysage) { }

  /** ------------------------------------------------
                  Tablette portrait
  ------------------------------------------------ **/

  @media (max-width: $tablette-portrait) { }

  /** ------------------------------------------------
                  Mobile
  ------------------------------------------------ **/

  @media (max-width: $mobile) { }
