// main: ../global.scss

/** ================================================
               # COLORS
================================================ **/


$couleur1             : #3EA147;
$couleur1--sombre     : #30891D;

$couleur-texte        : #040017;
$couleur-texte--clair : #2a2a2a;

$couleur-pop          : #ffc914;
$couleur-pop--sombre  : #d1a511;

$couleur-fond--clair  : #ffffff;
$couleur-fond         : #f7f7f6;
$couleur-fond--sombre : #f1f1f0;

$couleur-bordure      : #c3c4c2;
