node_modules/
.*
gulp*
package*.json

**/config
**/ecrire
**/tmp
**/local
**/plugins
**/plugins-dist
**/prive
**/squelettes-dist

COPYING.txt
htaccess.txt
INSTALL.txt

index.php
spip.php
spip.png
svn.revision
