node_modules/
.*
gulp*
package*.json

**/config
**/ecrire
**/IMG
**/tmp
**/local
**/plugins
**/plugins-dist
**/prive
**/squelettes-dist

COPYING.txt
INSTALL.txt

index.php
spip.php
spip.png
svn.revision
