// main: ../global.scss

/** ================================================
               # AGENDA
================================================ **/

.fc-toolbar, .fc-header-toolbar {
  position: relative;

  .fc-right, .fc-left { position: absolute; bottom: 0; }
  .fc-left { left: 0; }
  .fc-right { right: 0; }

  h2 {
  	line-height: 30px;
  	font-size: $police-taille--normale;
  	font-weight: normal;
  	letter-spacing: 10px;
  }
  .fc-button {
  	height: 30px;
  	background: none;
  	border: none;
  	box-shadow: none;
  	text-shadow: none;
  	font-family: $police1;
  	font-size: $police-taille--normale;
  }

  .fc-state-active,
  .ui-state-active,
  button:focus { z-index: 0 !important; }
}

.fc-view-container {
  overflow: hidden auto;
  height: auto;

  .fc-view {}
  .fc-view, .fc-view > table { z-index: 0; }
  .fc-event, .fc-event-dot {
    border: none;
    text-transform: none;
    padding: 2px;
  }

  // vue semaine
  .fc-agendaWeek-view {}

  // vue mensuelle
  .fc-month-view {}
  .fc-scroller { height: auto !important; }
  .fc-row {
    height: auto !important;
    th {
    	border: none;
    	text-transform: lowercase;
    	font-weight: normal;
    	letter-spacing: 5px;
    	padding-bottom: 8px;
    }
  }
  .fc-head {
    border: 1px solid transparent;
    &-container { border: none; }
  }
  .fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    font-size: $police-taille--petite;
  }
  .fc-day-grid {
    &-event {
      @extend %transition-all;
      &:hover {
        transform: translateY(-20px);
        .fc-content { white-space: normal; }
      }
    }
  }

  // vue journalière
  .fc-agendaDay-view {}

  // vue planning
  .fc-listMonth-view {
    .fc-widget-header {}
  }

}


// SPECIFIQUE VERSION PAGE
.page-agenda .conteneur {
  margin: $espace-vertical*2 auto;
  max-width: 860px;

  $couleur-calendrier : $couleur-texte;

  .fc-toolbar, .fc-header-toolbar {
    h2, .fc-button { color: $couleur-calendrier; }
    .fc-center {
      margin-bottom: $espace-vertical*1.5;
    }
  }
  .fc-view-container {
    .fc-body * { border-color: $couleur-calendrier; }
    .fc-row th, .fc-day-number { color: $couleur-calendrier; }
    .fc-today { background: $couleur-fond--sombre; }
    .fc-event, .fc-event-dot { background-color: $couleur-pop; }
    .fc-event, .fc-event:hover { color: $couleur-calendrier; }
  }

}


// SPECIFIQUE VERSION MENU
.header {
  $couleur-calendrier--clair : $couleur-fond--clair;

  .fc-toolbar, .fc-header-toolbar {
    h2, .fc-button { color: $couleur-calendrier--clair; }
  }
  .fc-view-container {
    .fc-body * { border-color: $couleur-calendrier--clair; }
    .fc-row th, .fc-day-number { color: $couleur-calendrier--clair; }
    .fc-today { background: darken($couleur1--sombre, 5); }
    .fc-event, .fc-event-dot { background-color: $couleur-pop; }
  }

}





/** ------------------------------------------------
                tablette paysage
------------------------------------------------ **/

@media (max-width: $tablette-paysage) { }

/** ------------------------------------------------
                tablette portrait
------------------------------------------------ **/

@media (max-width: $tablette-portrait) {

  .conteneur {

    .fc-toolbar, .fc-header-toolbar {
      display: flex;
      flex-flow: column-reverse;
      .fc-left {
        position: static;
        float: none;
        display: flex;
        margin: 0 auto $espace-vertical;
        justify-content: center;
      }
      .fc-center {
        display: flex;
        margin-bottom: $espace-vertical;
        justify-content: center;
      }
      .fc-right { display: none; }
    }

  }

}

/** ------------------------------------------------
                Mobile
------------------------------------------------ **/

@media (max-width: $mobile) { }
