@charset "UTF-8";
/** ================================================
                # GLOBAL
================================================ **/
/** ================================================
               # COLORS
================================================ **/
/** ================================================
               # RESET
================================================ **/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #fcfcfc;
  font-family: Arial;
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }

a:link {
  color: inherit;
  text-decoration: none; }

a:visited {
  color: inherit;
  text-decoration: none; }

a:hover {
  background: none;
  text-decoration: underline; }

a:active {
  text-decoration: underline; }

input, a {
  cursor: pointer; }

ul, li {
  margin: none; }

.clear {
  clear: both; }

/** ================================================
               # BREAKPOINTS
================================================ **/
/** ================================================
               # TYPOS
================================================ **/
h1 {
  font-family: Tahoma, Arial;
  font-size: 20px;
  text-align: center; }

h2 {
  color: #30891D;
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px; }

p {
  color: #040017;
  font-size: 16px;
  text-align: justify; }

hr {
  width: 50%; }

/* les a href spip vers l'extérieur et l'intérieur du site */
a.spip_out {
  color: #30891D;
  text-decoration: underline; }

a.spip_in {
  color: #30891D;
  text-decoration: underline; }

/** ------------------------------------------------
                  Tablette paysage
  ------------------------------------------------ **/
/** ------------------------------------------------
                  Tablette portrait
  ------------------------------------------------ **/
/** ------------------------------------------------
                  Mobile
  ------------------------------------------------ **/
/** ================================================
               # ANIMATIONS
================================================ **/
.menu *, .menu__liste-sous-liste, .menu__rubrique-bouton:checked ~ .menu__liste-sous-liste, .menu__rubrique-bouton:checked ~ .menu__liste-sous-liste--petit, .menu__rubrique-bouton:checked ~ .menu__liste-sous-liste--grand {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

/** ------------------------------------------------
                Tablette paysage
------------------------------------------------ **/
/** ------------------------------------------------
                Tablette portrait
------------------------------------------------ **/
/** ------------------------------------------------
                Mobile
------------------------------------------------ **/
/** ================================================
               # BOUTONS
================================================ **/
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 289px;
  height: 60px;
  margin: 20px auto;
  color: #040017;
  background-color: #eeefed;
  border-bottom: 4px solid #bbbfb8;
  cursor: pointer; }
  .btn__logo {
    height: 100%;
    max-width: 60px;
    background-color: #d1a511; }
  .btn__texte {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: auto;
    padding: 10px;
    text-align: left; }

/** ------------------------------------------------
                Tablette paysage
------------------------------------------------ **/
/** ------------------------------------------------
                Tablette portrait
------------------------------------------------ **/
/** ------------------------------------------------
                Mobile
------------------------------------------------ **/
/** ================================================
               # FORMULAIRES
================================================ **/
.cadre-formulaire {
  border: 5px solid #30891D;
  border-radius: 10px;
  display: block;
  margin: auto;
  padding: 10px;
  width: 96%; }

/** ------------------------------------------------
                Tablette paysage
------------------------------------------------ **/
/** ------------------------------------------------
                Tablette portrait
------------------------------------------------ **/
@media (max-width: 768px) {
  .cadre-formulaire {
    padding: 5px;
    width: auto; } }

/** ------------------------------------------------
                Mobile
------------------------------------------------ **/
/** ================================================
                # HEADER
================================================ **/
.header {
  position: relative;
  background-color: #040017; }
  .header__banniere {
    display: block;
    width: auto;
    height: 120px;
    margin: auto;
    padding: 20px; }

.menu {
  position: relative;
  padding: 0 calc( (100% - 1000px) / 2);
  background-color: #3EA147;
  border-bottom: 4px solid #30891D; }
  .menu__bouton-mobile {
    position: relative;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 20px 0 auto;
    padding: 10px;
    width: 50px;
    height: 50px; }
    .menu__bouton-mobile-declencheur {
      z-index: 1;
      position: absolute;
      top: 0;
      right: 20px;
      height: 50px;
      width: 50px;
      margin: 0;
      opacity: 0; }
      .menu__bouton-mobile-declencheur:checked ~ .menu__bouton-mobile .menu__bouton-mobile-ligne:nth-of-type(1) {
        -webkit-transform: rotate(45deg) translate(25%, 360%);
        transform: rotate(45deg) translate(25%, 360%); }
      .menu__bouton-mobile-declencheur:checked ~ .menu__bouton-mobile .menu__bouton-mobile-ligne:nth-of-type(2) {
        width: 0; }
      .menu__bouton-mobile-declencheur:checked ~ .menu__bouton-mobile .menu__bouton-mobile-ligne:nth-of-type(3) {
        -webkit-transform: rotate(-45deg) translate(25%, -360%);
        transform: rotate(-45deg) translate(25%, -360%); }
    .menu__bouton-mobile-ligne {
      width: 100%;
      height: 2px;
      background-color: #ffffff; }
  .menu__bouton-neutre {
    z-index: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - (400%));
    margin: 0;
    cursor: inherit;
    opacity: 0; }
    .menu__bouton-neutre:checked {
      z-index: -1; }
  .menu__liste {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none; }
    .menu__liste-sous-liste {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 4px;
      padding: 0 calc( (100% - 1000px) / 2);
      overflow: hidden;
      background-color: #30891D;
      list-style: none;
      text-align: center; }
  .menu__rubrique {
    display: block;
    z-index: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    height: 50px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase; }
    .menu__rubrique--lien-remplacement {
      display: none; }
    .menu__rubrique--recherche {
      -webkit-box-flex: 0;
      -ms-flex: 0;
      flex: 0; }
    .menu__rubrique-texte {
      display: block;
      z-index: -1;
      padding: 0 20px;
      -webkit-transform: translateY(-54px);
      transform: translateY(-54px);
      line-height: 50px; }
    .menu__rubrique-icone {
      fill: #ffffff;
      z-index: -1;
      padding: 10px 20px;
      width: 70px;
      -webkit-transform: translateY(-110%);
      transform: translateY(-110%); }
  .menu__rubrique-bouton {
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    visibility: visible; }
    .menu__rubrique-bouton:hover + .menu__rubrique-texte {
      background-color: #30891D; }
    .menu__rubrique-bouton:hover + .menu__rubrique-icone {
      fill: #ffc914; }
    .menu__rubrique-bouton:checked {
      z-index: -1;
      visibility: hidden; }
      .menu__rubrique-bouton:checked + .menu__rubrique-texte {
        background-color: #30891D; }
      .menu__rubrique-bouton:checked ~ .menu__liste-sous-liste {
        height: 200%; }
        .menu__rubrique-bouton:checked ~ .menu__liste-sous-liste--petit {
          height: 100%; }
        .menu__rubrique-bouton:checked ~ .menu__liste-sous-liste--grand {
          height: 60vh; }
        .menu__rubrique-bouton:checked ~ .menu__liste-sous-liste .menu__sous-rubrique {
          opacity: 1; }
  .menu__sous-rubrique {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: auto;
    margin: 0;
    padding: 2px 0;
    line-height: 100px;
    text-transform: none;
    opacity: 0;
    cursor: pointer; }
    .menu__sous-rubrique--petit {
      line-height: 50px; }
    .menu__sous-rubrique-texte {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0; }
    .menu__sous-rubrique-illustration {
      z-index: 0;
      position: absolute;
      top: -10%;
      left: 0; }
    .menu__sous-rubrique:hover .menu__sous-rubrique-illustration {
      opacity: 0.2;
      -webkit-transition: opacity 0.2s ease;
      transition: opacity 0.2s ease; }
    .menu__sous-rubrique:hover .menu__sous-rubrique-texte {
      opacity: 1;
      -webkit-transition: opacity 0.2s ease;
      transition: opacity 0.2s ease; }
  .menu__barre-recherche {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    height: 100%;
    margin: auto;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 18px;
    text-align: center; }

/** ------------------------------------------------
                Tablette paysage
------------------------------------------------ **/
@media (max-width: 1024px) {
  .menu__bouton-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .menu__bouton-mobile-declencheur:checked ~ .menu__liste {
      height: calc(100% + 50px); }
  .menu__bouton-neutre {
    top: 0;
    left: 0;
    width: 70px;
    height: 100%;
    z-index: 3;
    cursor: pointer; }
  .menu__liste {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 0;
    overflow: hidden; }
    .menu__liste-sous-liste {
      position: unset;
      height: auto;
      opacity: 1; }
  .menu__rubrique {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    height: auto; }
    .menu__rubrique-bouton {
      display: none; }
    .menu__rubrique-texte {
      -webkit-transform: translateY(0);
      transform: translateY(0); }
    .menu__rubrique-icone {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      height: 50px; }
    .menu__rubrique--recherche {
      position: absolute;
      top: 0;
      left: 0; }
      .menu__rubrique--recherche .menu__rubrique-bouton {
        z-index: 2;
        position: absolute;
        display: block; }
        .menu__rubrique--recherche .menu__rubrique-bouton:checked ~ .menu__liste-sous-liste {
          height: 50px;
          width: calc(100vw - 17px);
          padding: 10px 20px; }
      .menu__rubrique--recherche .menu__rubrique-icone {
        z-index: 1;
        margin-left: 8px; }
      .menu__rubrique--recherche .menu__liste-sous-liste {
        z-index: 0;
        position: absolute;
        top: 0;
        width: 0;
        height: 50px;
        padding: 10px 0;
        overflow: hidden; }
    .menu__rubrique--agenda .menu__liste-sous-liste, .menu__rubrique--contact .menu__liste-sous-liste {
      display: none; }
    .menu__rubrique--agenda .menu__rubrique--lien-remplacement, .menu__rubrique--contact .menu__rubrique--lien-remplacement {
      display: block;
      position: absolute;
      height: 50px;
      width: 100%; }
      .menu__rubrique--agenda .menu__rubrique--lien-remplacement::after, .menu__rubrique--contact .menu__rubrique--lien-remplacement::after {
        content: "〉";
        position: absolute;
        line-height: 50px;
        top: 0;
        right: 30px;
        font-weight: bold; }
  .menu__sous-rubrique {
    line-height: 80px; }
    .menu__sous-rubrique-texte {
      position: relative;
      opacity: 1;
      display: block;
      width: auto;
      margin: 20px 15px;
      line-height: 25px;
      color: #ffffff;
      opacity: 1; }
    .menu__sous-rubrique-illustration {
      opacity: 0.3; } }

/** ------------------------------------------------
                Tablette portrait
------------------------------------------------ **/
@media (max-width: 768px) {
  .header__banniere {
    display: block;
    width: auto;
    height: 80px;
    margin: auto;
    padding: 12px; }
  .menu__liste-sous-liste {
    padding: 10px 20px; }
  .menu__sous-rubrique {
    line-height: 30px; }
    .menu__sous-rubrique-texte {
      line-height: 25px;
      margin: 0; }
    .menu__sous-rubrique-illustration {
      display: none; } }

/** ------------------------------------------------
                Mobile
------------------------------------------------ **/
@media (max-width: 640px) {
  .menu__liste-sous-liste {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

/** ================================================
               # ZONES
================================================ **/
.zone {
  margin: 0 auto;
  width: 1000px; }

.corps-zone {
  border: 1px #040017 solid;
  border-top: none;
  margin: 0 auto;
  margin-top: 40px;
  width: 1200px; }

.spip_logo.spip_logos {
  display: block;
  height: 90px;
  margin: auto;
  padding: 10px;
  vertical-align: unset;
  width: auto;
  z-index: 9; }

.pagination {
  text-align: center; }

/** ------------------------------------------------
                Tablette paysage
------------------------------------------------ **/
@media (max-width: 1024px) {
  .zone {
    width: 100%; } }

/** ------------------------------------------------
                Tablette portrait
------------------------------------------------ **/
/** ------------------------------------------------
                Mobile
------------------------------------------------ **/
/** ================================================
               # RUBRIQUES
================================================ **/
.rubrique-zone {
  background-color: #ffffff;
  margin: 20px auto;
  max-width: 980px;
  padding: 20px 10px;
  text-align: left; }

.cartouche {
  color: #040017;
  font-family: Tahoma, Arial;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center; }

.logo-titre {
  display: block;
  margin-bottom: 6px; }

.spip_logo.spip_logos {
  vertical-align: bottom; }

.ligne-titre-rubrique {
  margin: -15px auto auto auto; }

.texte-rubrique {
  margin: auto;
  margin-bottom: 10px;
  max-width: 800px; }

/*.texte-rubrique>p {}*/
.liste-articles-rubrique, .supplements-articles {
  display: block;
  margin: 25px auto 0 auto;
  max-width: 600px;
  text-align: left; }

.liste-articles-rubrique > li {
  margin-top: 8px; }

.liste-articles-rubrique > li:first-child {
  margin-top: 0px; }

.liste-articles-rubrique-dates {
  color: #2a2a2a;
  display: block;
  margin-left: 35px;
  vertical-align: super; }

.arbo {
  color: #040017;
  margin: 0 auto;
  max-width: 800px; }

.arbo > p {
  margin: 0 0 -20px 0; }

.info-publi {
  font-style: italic;
  font-weight: normal;
  margin-top: 0;
  text-align: right; }

.sous-titre-rubrique {
  font-weight: bold; }

/* sert aussi dans les articles */
/** ------------------------------------------------
                Tablette paysage
------------------------------------------------ **/
@media (max-width: 1024px) {
  .rubrique-zone {
    margin-top: 10px; } }

/** ------------------------------------------------
                Tablette portrait
------------------------------------------------ **/
/** ------------------------------------------------
                Mobile
------------------------------------------------ **/
@media (max-width: 640px) {
  .rubrique-zone {
    margin-bottom: 0;
    padding: 20px 8%; }
  .arbo > p {
    margin: 0 0 10px 0;
    text-align: center; } }

/** ================================================
               # SOMMAIRE
================================================ **/
/* ------------------------------------------------------------------
                COLONNE DE GAUCHE
------------------------------------------------------------------- */
#colonne-laterale-gauche {
  display: inline-block;
  margin-right: 30px;
  vertical-align: top;
  width: 676px; }

.une-mobile {
  display: none; }

.une {
  background-color: #eeefed;
  background-image: url(images/motard.png);
  background-position: right 40px bottom;
  background-repeat: no-repeat;
  background-size: 250px;
  display: block;
  margin: 20px 0 55px 0;
  padding: 1px 350px 20px 20px;
  text-align: center; }

.titre-article-une {
  color: #30891D;
  font-size: 16px;
  margin: 0 0 2px 0;
  text-decoration: none; }

.extrait-une {
  text-align: left; }

.published {
  margin: 0; }

.lien-une {
  margin-left: 50%; }

.article-mobile {
  display: none; }

.article {
  display: block;
  padding: 0 0 40px 0;
  text-align: justify;
  width: 100%; }

.titre-article {
  color: #30891D;
  font-size: 16px;
  margin: 0;
  margin-bottom: 2px;
  text-decoration: none; }

.published-sommaire {
  color: #2a2a2a;
  display: block;
  font-size: 15px;
  margin: -3px 0 5px 0; }

.texte-news {
  min-height: 121px; }

/* ------------------------------------------------------------------
                COLONNE DE DROITE
------------------------------------------------------------------- */
#colonne-laterale-droite {
  display: inline-block;
  vertical-align: top;
  width: 289px; }

.carte-antenne {
  display: block;
  margin-bottom: 20px;
  max-width: 289px; }

.bloc-twitter {
  display: block;
  margin-bottom: 20px;
  max-height: 300px;
  max-width: 289px; }

.twitter-timeline {
  min-width: none; }

.illustration-mobilisation {
  display: block;
  max-width: 289px; }

/* ------------------------------------------------------------------
                      BAS DE LA PAGE
------------------------------------------------------------------- */
.bandeau-antenne {
  background-image: url(images/bandeau-antenne.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 145px;
  margin-bottom: 15px;
  width: 100%; }

.bandeau-antenne p {
  color: #ffffff;
  display: block;
  font-family: 'Anton', Arial;
  font-size: 21px;
  letter-spacing: 0.5px;
  line-height: 1.2;
  margin: auto;
  text-align: center; }

.zone-bandeau-mouvement {
  display: block;
  margin: 20px auto 0 auto;
  max-width: 1000px;
  width: 100%; }

.bas {
  background-image: url(images/real_cf.png);
  -webkit-box-shadow: 2px 2px 2px 2px #040017;
  box-shadow: 2px 2px 2px 2px #040017;
  color: #ffffff;
  display: block;
  font-size: 14px;
  height: 30px;
  margin-top: 30px;
  padding-bottom: 4px;
  padding-top: 10px;
  text-align: center; }

.img-connexion {
  display: inline;
  vertical-align: middle; }

/** ------------------------------------------------
                Tablette paysage
------------------------------------------------ **/
@media (max-width: 1024px) {
  .une {
    background-color: #eeefed;
    background-image: inherit;
    background-size: 250px;
    display: block;
    margin: 15px 0 20px 0;
    padding: 1px 40px 20px 40px;
    text-align: center; }
  .article {
    text-align: left; }
  .extrait-articles {
    display: block;
    margin: 0 auto;
    max-width: 650px; }
  .titre-article {
    margin-top: 20px; }
  #colonne-laterale-gauche {
    display: block;
    margin: 0;
    padding: 0 10% 0 10%;
    width: 80%; }
  #colonne-laterale-droite {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin: 20px 0;
    padding: 0 10% 0 10%;
    width: 80%; }
  .carte-antenne {
    display: none; }
  .boutons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 0 0 1%;
    max-width: none;
    min-width: 200px;
    width: 49%; }
  .bloc-twitter {
    height: inherit;
    margin: 0 1% 0 0;
    max-height: none;
    max-width: none;
    min-width: 200px;
    width: 49%; }
  .illustration-mobilisation {
    display: none; }
  .zone-bandeau-mouvement {
    width: 98%; } }

/** ------------------------------------------------
                Tablette portrait
------------------------------------------------ **/
@media (max-width: 768px) {
  .bandeau-antenne {
    height: 106px; }
  .bandeau-antenne p {
    font-size: 17px; } }

/** ------------------------------------------------
                Mobile
------------------------------------------------ **/
@media (max-width: 640px) {
  .boutons {
    height: 200px;
    margin: 10px 0;
    width: 100%; }
  .bloc-twitter {
    display: block;
    margin: 10px 0;
    width: 100%; }
  .bas {
    height: 50px;
    line-height: 28px; } }

/** ================================================
               # CONTACT
================================================ **/
.street-view {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 80%; }

#formulaire_ecrire_auteur_7 {
  margin: auto;
  max-width: 600px;
  width: 100%; }

.bloc-formulaire {
  border: none;
  margin: 0;
  padding: 0; }

.case-formulaire-contact {
  border: 1px solid lightgrey;
  border-radius: 5px;
  display: block;
  margin: 2px 0 0 0;
  padding: 2px 5px;
  text-align: left;
  width: 100%; }

.texte-formulaire-contact {
  color: #353535;
  display: block;
  font-size: 15px;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%; }

#texte_message_auteur_7 {
  height: 200px; }

.bouton-formulaire {
  display: block;
  margin: auto;
  text-align: center; }

.bloc-formulaire > ul > li:nth-child(2) {
  margin: 10px 0; }

/** ------------------------------------------------
                Tablette paysage
------------------------------------------------ **/
/** ------------------------------------------------
                Tablette portrait
------------------------------------------------ **/
/** ------------------------------------------------
                Mobile
------------------------------------------------ **/
@media (max-width: 640px) {
  .street-view {
    width: 100%; } }

/** ================================================
               # CALENDRIER
================================================ **/
.texte-info-agenda {
  margin: auto;
  margin-bottom: 10px;
  width: 96%; }

/* * #agenda, #agenda * {z-index: 0;} */
.fc-content {
  background-color: none; }

.fc-today, .fc-state-highlight {
  background-color: #419f2e; }

.fc-widget-header, .fc-widget-content {
  border: 1px solid #419f2e; }

/** ------------------------------------------------
                Tablette paysage
------------------------------------------------ **/
/** ------------------------------------------------
                Tablette portrait
------------------------------------------------ **/
@media (max-width: 768px) {
  .texte-info-agenda {
    width: auto; } }

/** ------------------------------------------------
                Mobile
------------------------------------------------ **/
/** ================================================
               # MENTIONS
================================================ **/
button.accordion {
  background-color: #eee;
  border: none;
  color: #444;
  cursor: pointer;
  font-size: 15px;
  outline: none;
  padding: 18px;
  text-align: left;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 100%; }

button.accordion.active, button.accordion:hover {
  background-color: #ddd; }

div.panel {
  background-color: #ffffff;
  max-height: 0;
  overflow: hidden;
  padding: 0 18px;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out; }

/** ------------------------------------------------
                Tablette paysage
------------------------------------------------ **/
/** ------------------------------------------------
                Tablette portrait
------------------------------------------------ **/
/** ------------------------------------------------
                Mobile
------------------------------------------------ **/
