// main: ../global.scss

/** ================================================
               # TYPOS
================================================ **/

$police1 : Arial;
$police2 : Tahoma, Arial;
$police3 : 'Anton', Arial;

h1 {
  font-family: $police2;
  font-size: 20px;
  text-align: center;
}

h2 {
  color: $couleur1--sombre;
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

p {
  color: $couleur-texte;
  font-size: 16px;
  text-align: justify;
}

hr { width: 50%;}

/* les a href spip vers l'extérieur et l'intérieur du site */
  a.spip_out { color: $couleur1--sombre; text-decoration: underline; }
  a.spip_in { color: $couleur1--sombre; text-decoration: underline; }




  /** ------------------------------------------------
                  Tablette paysage
  ------------------------------------------------ **/

  @media (max-width: $tablette-paysage) { }

  /** ------------------------------------------------
                  Tablette portrait
  ------------------------------------------------ **/

  @media (max-width: $tablette-portrait) { }

  /** ------------------------------------------------
                  Mobile
  ------------------------------------------------ **/

  @media (max-width: $mobile) { }
