// main: ../global.scss

/** ================================================
               # TYPOS
================================================ **/

$police1 : Arial;
$police2 : Helvetica, Arial;
$police3 : 'Anton', Arial;

h1 {
  margin: $espace-vertical auto;
  font-family: $police2;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
  margin: $espace-vertical--petit auto;
  font-family: $police2;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  color: $couleur-texte;
  font-size: 16px;
}

hr { width: 50%;}

/* les a href spip vers l'extérieur et l'intérieur du site */
  a.spip_out { color: $couleur1--sombre; text-decoration: underline; }
  a.spip_in { color: $couleur1--sombre; text-decoration: underline; }

.citation {
  position: relative;
	font-size: 14px;
  margin: 5px 0;
	padding-left: 30px;
  font-style: italic;
  &::before, &::after {
  	font-size: 35px;
  	position: absolute;
  	line-height: 0;
  }
  &::before {
    content: "«";
    top: 5px;
    left: 0;
  }
  &::after {
    content: "»";
    top: 40px;
    left: 0;
  }

  &--courte {
    padding-right: 30px;
    text-align: justify;
    &::after { top: inherit; left: inherit; right: 0; }
  }
}




  /** ------------------------------------------------
                  tablette paysage
  ------------------------------------------------ **/

  @media (max-width: $tablette-paysage) { }

  /** ------------------------------------------------
                  tablette portrait
  ------------------------------------------------ **/

  @media (max-width: $tablette-portrait) { }

  /** ------------------------------------------------
                  Mobile
  ------------------------------------------------ **/

  @media (max-width: $mobile) { }
