// main: ../global.scss

/** ================================================
               # CONTACT
================================================ **/

.page-contact {

  .menu__rubrique--contact { display: none; }

  &__texte { color: $couleur-texte; }

  &__street-view {
    display: block;
    margin: $espace-vertical auto;
    width: 100%;
  }

  .conteneur {

    &__colonne-droite { margin: 0; }

    .formulaire {
      margin: 0; 
      *:not(.formulaire__erreur-msg *) { color: $couleur-texte; }
      &__liste { margin: $espace-vertical--petit; }
      &__erreur-msg {
        position: static;
        display: block;
        @extend %transition-all;
      }
      &__bouton { width: calc(100% - 30px); }
  }
  }

}




/** ------------------------------------------------
                tablette paysage
------------------------------------------------ **/

@media (max-width: $tablette-paysage) { }

/** ------------------------------------------------
                tablette portrait
------------------------------------------------ **/

@media (max-width: $tablette-portrait) { }

/** ------------------------------------------------
                Mobile
------------------------------------------------ **/

@media (max-width: $mobile) {

   .street-view {width: 100%;}

}
