// main: ../global.scss

/** ================================================
               # ARBORESCENCE
================================================ **/

.arbo {
   display: block;
   margin: 0 auto;
   max-width: 800px;
   color: $couleur-texte;
   text-align: center;

   & > p { margin: 0 0 -20px 0;}
}


/** ------------------------------------------------
                Tablette paysage
------------------------------------------------ **/

@media (max-width: $tablette-paysage) { }

/** ------------------------------------------------
                Tablette portrait
------------------------------------------------ **/

@media (max-width: $tablette-portrait) { }

/** ------------------------------------------------
                Mobile
------------------------------------------------ **/

@media (max-width: $mobile) { }
