// main: ../global.scss

/** ================================================
               # FORMULAIRES
================================================ **/

.cadre-formulaire {
        border: 5px solid $main-color--dark;
        border-radius: 10px;
        display: block;
        margin: auto;
        padding: 10px;
        width: 96%;
}



/** ------------------------------------------------
                Tablette paysage
------------------------------------------------ **/

@media (max-width: $tablette-paysage) { }

/** ------------------------------------------------
                Tablette portrait
------------------------------------------------ **/

@media (max-width: $tablette-portrait) {

   .cadre-formulaire { padding: 5px; width: auto;}

}

/** ------------------------------------------------
                Mobile
------------------------------------------------ **/

@media (max-width: $mobile) { }
