// main: ../global.scss

/** ================================================
               # INFRASTRUCTURES
================================================ **/

.page-infrastructures {
  .conteneur { max-width: 840px; }
}

.form-infras {
  margin: 0 auto;

  &__partie {
    width: 100%;
    max-width: 840px;
    margin: 0 auto 20px;
    padding: 20px;
    border: 1px solid $couleur-bordure;

    &-ligne {}
    &-cellule {
      &:first-child { width: 250px; }
    }
  }

}



/** ------------------------------------------------
                tablette paysage
------------------------------------------------ **/

@media (max-width: $tablette-paysage) { }

/** ------------------------------------------------
                tablette portrait
------------------------------------------------ **/

@media (max-width: $tablette-portrait) { }

/** ------------------------------------------------
                Mobile
------------------------------------------------ **/

@media (max-width: $mobile) { }
