// main: ../global.scss

/** ================================================
               # ARTICLES
================================================ **/


.article {
  display: flex;
  flex-flow: wrap;
  margin: $espace-vertical auto;

  &__entete {
    display: flex;
    flex-flow: column;
    text-align: center;
    margin: $espace-vertical auto $espace-vertical*2;

    &-logo {
      max-height: 320px;
      overflow: hidden;
      margin-top: -50px;
      transform: translateY(50px);
      .spip_logo.spip_logos[src*="jpg"]{
        width: 100%;
        height: auto;
        margin-bottom: $espace-vertical;
        padding: 0;
        transform: translateY(-10%);
      }
      .spip_logo.spip_logos[src*="png"]{
        margin-bottom: 55px;
        height: 80px;
      }
      .spip_logo.spip_logos[src*="svg"] {
        height: 0;
        @supports (-webkit-filter: blur(2px)) or (filter: blur(2px)) {
          display: block;
          height: 80px;
          margin-bottom: 55px;
          filter: invert(1);
        }
      }
      &:empty { margin-top: 0; }
    }

    &-date { margin: auto; }

    &-texte {
    	position: relative;
    	background-color: $couleur-fond--clair;
    	width: 90%;
    	margin: auto;
    	padding: 20px;
    	box-shadow: 0 5px 20px -10px $couleur-bordure;
    }

    &-titre { margin: $espace-vertical--petit auto; }
  }


  &__texte {}

  &__supplements { margin: $espace-vertical*2 auto; }
  &__commentaires {
    margin: $espace-vertical auto;
  }


  &__lireaussi {
    flex: 1 1 200px;
    max-width: 80vw;

    &-vignette {
      display: flex;
      flex-direction: column;
      justify-content: center;
    	height: 0;
      padding: calc(56.25% / 2) 0;
    	text-align: right;
    	background: $couleur-fond--sombre;
      background-size: cover;
      background-position: center;
      @extend %transition-all;
      &:hover {
        transform: translateX(10px);
        .article__lireaussi-texte { transform: translateX(15px); }
      }
    }
    &-texte {
      width: 90%;
      margin-left: auto;
      padding: 5px 10px 12px;
      color: $couleur-fond--clair;
      background-color: rgba($couleur-texte, 0.8);
      transform: translateX(20px);
      @extend %transition-all;
    }
    &-titre {
      margin: 5px 0;
      font-size: $police-taille--normale;
    }
    &-date {
      font-size: $police-taille--petite;
      color: $couleur-fond--clair;
    }
  }
  &__social {
    flex: 1 1 200px;
    align-self: center;
    padding: 0 20px;
    margin: $espace-vertical auto;
    text-align: center;
    .fb-like, .twitter-share-button { margin: 2px auto; vertical-align: middle;}
  }
  &__widget-agenda {
    flex: 1 1 240px;
    margin: $espace-vertical 0!important;
    max-width: 350px;
    overflow: hidden;
    .widget-agenda__evenements-liste { height: 180px; }
  }

}




/** ------------------------------------------------
                tablette paysage
------------------------------------------------ **/

@media (max-width: $tablette-paysage) { }

/** ------------------------------------------------
                tablette portrait
------------------------------------------------ **/

@media (max-width: $tablette-portrait) { }

/** ------------------------------------------------
                Mobile
------------------------------------------------ **/

@media (max-width: $mobile) { }
