// main: ../global.scss

/** ================================================
               # ARTICLES
================================================ **/


.article {
  display: flex;
  flex-flow: wrap;
  margin: $espace-vertical auto;

  &__contenu {
    flex: 3 1 100px;
    margin-right: 30px;
  }
  &__aside {
    flex: 1;
    margin: $espace-vertical auto;
  }

  &__entete {
    display: flex;
    flex-flow: column;
    text-align: center;
    margin: $espace-vertical auto;

    &-date { margin: auto; }

    &-logo { margin-bottom: $espace-vertical--petit; }

    &-titre { margin-top: $espace-vertical--petit; }
  }


  &__texte {}

  &__supplements { margin: $espace-vertical*2 auto; }
  &__commentaires {
    margin: $espace-vertical auto;
  }

}




/** ------------------------------------------------
                tablette paysage
------------------------------------------------ **/

@media (max-width: $tablette-paysage) { }

/** ------------------------------------------------
                tablette portrait
------------------------------------------------ **/

@media (max-width: $tablette-portrait) { }

/** ------------------------------------------------
                Mobile
------------------------------------------------ **/

@media (max-width: $mobile) { }
