// main: ../global.scss

/** ================================================
               # CONTENEURS
================================================ **/

.page {
   &-accueil { background-color: $couleur-fond--clair; }
   &-rubrique { background-color: $couleur-fond; }
}

.conteneur {
   width: 100%;
   max-width: 1000px;
   margin: 30px auto 50px;
}

.spip_logo.spip_logos {
   display: block;
   z-index: 9;
   width: auto;
   height: 90px;
   margin: auto;
   padding: 10px;
   vertical-align: unset;
}

.pagination {text-align: center;}



/** ------------------------------------------------
                Tablette paysage
------------------------------------------------ **/

@media (max-width: $tablette-paysage) {

   .zone {width: 100%;}

}

/** ------------------------------------------------
                Tablette portrait
------------------------------------------------ **/

@media (max-width: $tablette-portrait) { }

/** ------------------------------------------------
                Mobile
------------------------------------------------ **/

@media (max-width: $mobile) { }
