// main: ../global.scss

/** ================================================
               # CONTENEURS
================================================ **/

.conteneur {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  max-width: 1000px;
  margin: $espace-vertical auto 50px;
  &--colonnes {
    margin: 0 auto 0;
    justify-content: center;
  }

  &__chapo {
    margin: $espace-vertical auto;
  }

  &__colonne-principale {
    flex: 3 1 500px;
    margin: 0 20px;
  }

  &__colonne-droite {
    flex: 1 1 200px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    margin: $espace-vertical 20px auto;
  }
}

.spip_logo.spip_logos {
  display: block;
  z-index: 9;
  width: auto;
  height: 90px;
  margin: auto;
  padding: 10px;
  vertical-align: unset;
}

.pagination {
  text-align: center;
}



/** ------------------------------------------------
                tablette paysage
------------------------------------------------ **/

@media (max-width: $tablette-paysage) {}


/** ------------------------------------------------
                tablette portrait
------------------------------------------------ **/

@media (max-width: $tablette-portrait) {

  .conteneur {
    &__colonne-droite {
      &-item { margin: $espace-vertical; }
    }
  }
  
}


/** ------------------------------------------------
                Mobile
------------------------------------------------ **/

@media (max-width: $mobile) {}
