// main: ../global.scss

/** ================================================
               # RUBRIQUES
================================================ **/

.rubrique {
  max-width: 980px;
  margin: $espace-vertical auto;
  padding: 0 $espace-vertical;
  background-color: $couleur-fond--clair;
  text-align: left;

  &__entete {
    width: 100%;
    margin: 0 auto $espace-vertical;
    color: $couleur-texte;
    font-family: $police2;
    font-size: $police-taille--grande;
    font-weight: bold;
    text-align: center;

    &-logo {
      height: 0;
      margin-bottom: $espace-vertical;
    }
    @supports (-webkit-filter: blur(2px)) or (filter: blur(2px)) {
      .rubrique__entete-logo {
        display: block;
        height: auto;
        margin-bottom: 6px;
        filter: invert(1);
      }
    }

    &-titre {
      margin: 0 auto;
    }
  }

  &__rubriques-liste, &__articles-liste {
    max-width: 720px;
    margin: 0 auto;
  }
  &__rubriques-liste {
    margin-top: 20px;
    padding: 0 30px 10px;
    border: 1px solid $couleur-bordure;
    h2 {
      display: block;
      width: 225px;
      margin: -13px auto 0;
      background-color: $couleur-fond--clair;
    }
  }

  &__description {
    max-width: 840px;
    margin: 0 auto;
  }

  .liste-articles-rubrique,
  .supplements-articles {
    display: block;
    max-width: 600px;
    margin: $espace-vertical auto 0;
    text-align: left;
  }

  .liste-articles-rubrique {
    & > li:not(:first-child) {
      margin-top: 8px;
    }

    &-dates {
      display: block;
      margin-left: 35px;
      color: $couleur-texte--clair;
      vertical-align: super;
    }
  }

  .info-publi {
    margin-top: 0;
    font-style: italic;
    font-weight: normal;
    text-align: right;
  }

  .sous-titre-rubrique {
    font-weight: bold;
  }
  /* sert aussi dans les articles */
}


/** ------------------------------------------------
                tablette paysage
------------------------------------------------ **/

@media (max-width: $tablette-paysage) {
  .rubrique {
    max-width: none;
    margin-top: $espace-vertical--petit;
  }
}


/** ------------------------------------------------
                tablette portrait
------------------------------------------------ **/

@media (max-width: $tablette-portrait) {}


/** ------------------------------------------------
                Mobile
------------------------------------------------ **/

@media (max-width: $mobile) {
  .rubrique {
    margin-bottom: 0;
    padding: 20px 8%;

    .arbo > p {
      margin: 0 0 10px;
      text-align: center;
    }
  }
}
