// main: ../global.scss

/** ================================================
               # RUBRIQUES
================================================ **/

.rubrique-zone {
        background-color: $bg-color--light;
        margin: 20px auto;
        max-width: 980px;
        padding: 20px 10px;
        text-align: left;
}

.cartouche {
        color: $text-color;
        font-family: Tahoma, Arial;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 30px;
        text-align: center;
}

.logo-titre { display: block; margin-bottom: 6px;}
.spip_logo.spip_logos {vertical-align: bottom;}

.ligne-titre-rubrique { margin: -15px auto auto auto;}

.texte-rubrique {
        margin: auto;
        margin-bottom: 10px;
        max-width: 800px;
}

/*.texte-rubrique>p {}*/

.liste-articles-rubrique, .supplements-articles {
        display: block;
        margin: 25px auto 0 auto;
        max-width: 600px;
        text-align: left;
}
.liste-articles-rubrique>li { margin-top: 8px;}
.liste-articles-rubrique>li:first-child { margin-top: 0px;}
.liste-articles-rubrique-dates { color: $text-color--light; display: block; margin-left: 35px; vertical-align: super;}

.arbo { color: $text-color; margin: 0 auto; max-width: 800px;}
.arbo > p { margin: 0 0 -20px 0;}

.info-publi {
        font-style: italic;
        font-weight: normal;
        margin-top: 0;
        text-align: right;
}

.sous-titre-rubrique { font-weight: bold;} /* sert aussi dans les articles */



/** ------------------------------------------------
                Tablette paysage
------------------------------------------------ **/

@media (max-width: $tablette-paysage) {

   .rubrique-zone {margin-top: 10px;}

}

/** ------------------------------------------------
                Tablette portrait
------------------------------------------------ **/

@media (max-width: $tablette-portrait) { }

/** ------------------------------------------------
                Mobile
------------------------------------------------ **/

@media (max-width: $mobile) {

   .rubrique-zone { margin-bottom: 0; padding: 20px 8%;}
   .arbo > p { margin: 0 0 10px 0; text-align: center;}

}
