// main: ../global.scss

/** ================================================
               # ARBORESCENCE
================================================ **/

.arbo {
   display: block;
   margin: $espace-vertical auto;
   width: 100%;
   color: $couleur-texte;
   text-align: center;

   & > p { margin: 0 0 -20px 0;}
}


/** ------------------------------------------------
                tablette paysage
------------------------------------------------ **/

@media (max-width: $tablette-paysage) { }

/** ------------------------------------------------
                tablette portrait
------------------------------------------------ **/

@media (max-width: $tablette-portrait) { }

/** ------------------------------------------------
                Mobile
------------------------------------------------ **/

@media (max-width: $mobile) { }
