// main: ../global.scss

/** ================================================
               # BOUTONS
================================================ **/

.btn {
	display: flex;
	width: 100%;
	max-width: 289px;
	height: 60px;
	margin: 20px auto;
	color: $couleur-texte;
	background-color: $couleur-fond--sombre;
	border-bottom: 4px solid $couleur-bordure;
	cursor: pointer;
	&__logo {
		height: 100%;
		max-width: 60px;
		background-color: $couleur-pop--sombre;
	}
	&__texte {
		flex: 1;
		margin: auto;
		padding: 10px;
		text-align: left;
	}
}


/** ------------------------------------------------
                Tablette paysage
------------------------------------------------ **/

@media (max-width: $tablette-paysage) { }

/** ------------------------------------------------
                Tablette portrait
------------------------------------------------ **/

@media (max-width: $tablette-portrait) { }

/** ------------------------------------------------
                Mobile
------------------------------------------------ **/

@media (max-width: $mobile) { }
