// main: ../global.scss

/** ================================================
               # FOOTER
================================================ **/

.bas {
  display: block;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: $couleur-texte;
  color: $couleur-fond--clair;
  font-size: $police-taille--petite;
  line-height: 35px;
  text-align: center;
}
.logos-footer { display: inline-block; }
.logo-footer {
  display: inline;
  vertical-align: middle;
  height: 20px;
  margin: 0 4px;
}



/** ------------------------------------------------
                tablette paysage
------------------------------------------------ **/

@media (max-width: $tablette-paysage) { }

/** ------------------------------------------------
                tablette portrait
------------------------------------------------ **/

@media (max-width: $tablette-portrait) { }

/** ------------------------------------------------
                Mobile
------------------------------------------------ **/

@media (max-width: $mobile) { }
